{% extends "layout.html" %}

{% block title %}
Inspire: Landing Page
{% endblock %}

{% block main %}
<img id="LandingImage" src="/static/Inspire_land1.jpeg" alt="Person with a library in background" class="img-fluid" style="width: 100%; max-width: 800px; height: auto; border-radius: 20px;">

<script>
    const images = ["/static/Inspire_land1.jpeg", "/static/inspire_landing3.jpeg"];
    let index = 0;

    setInterval(() => {
        index = (index + 1) % images.length;
        document.getElementById("LandingImage").src = images[index];
    }, 10000); // Change every 3 seconds
</script>
{% endblock %}